QHeaderView
{
	background-color: lightgrey;
}

QHeaderView::section {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 #F2FFE6, stop: 0.5 #F2FFE6,
                                      stop: 0.6 #FBFFE6, stop:1 #FBFFE6);
    padding-left: 4px;
    border: 1px solid #093300;
	font-weight: bold;
	color: #00001A;
	border-radius: 2px;
}

QHeaderView::section:!enabled{
background-color :qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
stop: 0 grey, stop: 1 white);
color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 black, 
stop: 1 grey);
}

QTableView::enabled
{
	background-color:lightgrey;
	border: 2px solid grey;
	border-radius : 4px;
	padding: 0 8px;
	color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 black, 
	stop: 1 grey);
}

QTableView::item
{
    background-color: #fff7e6;
    border: 1px solid #003300;
	border-radius: 2px;
	color: #00001A
}

QTableView::item:alternate 
{ 
	background-color: #ffe6ea; 
}

QTableView::item::selected
{
    background-color: #FFAA00;
    border: 1px solid #003300;
	border-radius: 2px;
	font-weight: bold;
	color: #00001A;
}